* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  width: 100vw;
  height: 140vh;
  background: linear-gradient(
        to right,
        #00416abf,
        #292e49bf),
        url(./assets/pexels-maxyne-barcel-10402282-1.png);
    background-repeat: no-repeat;
}

.container {
  margin: 50px 10%;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
  width: 100%;
  display: block;
}

.logo {
  width: 110px;
  cursor: pointer;
}

.list {
  position: absolute;
  left: 36%;
  top: 50px;
  color: #F4CE6A;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}

.list-item {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 800;
}

.button-small {
  position: absolute;
  right: 10%;
  top: 50px;
  padding: 10px 30px;
  background-color: #FF6263;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
  margin-top: 10%;
  display: block;
}

.hero-heading {
  display: block;
  width: 90%;
  position: relative;
  left: 5%;
  text-align: center;
  letter-spacing: 2px;
  color: #F4CE6A;
  font-family: "Dela Gothic One";
  font-size: 80px;
}

.button-large {
  width: 280px;
  height: 40px;
  margin-top: 8%;
  position: relative;
  left: 37%;
  background-color: #FF6263;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.bottom {
  position: absolute;
  right: 5%;
  bottom: -45%
}

.bottom div img {
  width: 130px;
}
